@model IEnumerable<PersonModel>
@{
    ViewData["Title"] = "Clientes";
}


<div class="col-md-12">
    <div class="jumbotron">
        <h3>@ViewData["Title"]</h3>
    </div>
    <a href="@Url.Action("InsertOrUpdateClient", "Client")" class="btn btn-primary">
        Novo Plano
    </a>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table thead-dark">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Pessoa Jurídica</th>
                            <th>Documento</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (PersonModel client in Model)
                            {
                                <tr>
                                    <td>@client.Nome</td>
                                    <td>@client.PJ</td>
                                    <td>@client.Documento</td>
                                    <td>
                                        <a href="@Url.Action("InsertOrUpdateClient", "plain", new { id = client.Id})" class="btn btn-info">
                                            Editar
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    Nenhum plano cadastrado.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>